<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="static/css/chat_interface.css">
    <link rel="stylesheet" type="text/css" href="static/css/article.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons" rel="stylesheet">
	<title>Chatbot FrontendS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <div class="container">
    <br/>
    <div class="row">
        <div class="col-md-6">
            <div class="chat_window">
                <div class="top_menu">
                    <div class="title" id="title">GrandPy Bot</div>
                </div>
                <ul class="messages"></ul>
                <div class="bottom_wrapper clearfix">
                    <div class="message_input_wrapper">
                        <form id="input_message" method="POST" action="">
                            <input name="query" id="msg_input" class="message_input" placeholder="Say Hi to begin chat..." />
                        <script>
                        $('#input_message').submit(function () {
                            main(document.getElementById("msg_input").value, getCurrentTimestamp(),'{{ data }}');
                            return false;
                        });
                        </script>
                        </form>
                    </div>
                </div>
            </div>
            <div class="message_template">
                <li class="message">
                    <div class="avatar f_avatar"></div>
                    <div class="text_wrapper">
                        <div class="text"></div>
                        <div class="timestamp"></div>
                    </div>
                </li>
            </div>
            <br />
            <br />
        </div>
        <div class="col-md-6">
            <div class="chat_window" style="background-color: white">
                <div class="top_menu">
                    <div class="title">Maps</div>
                </div>
                    <div class="panel panel-default">
                        <iframe
                        id = "googleMap"
                        width="100%"
                        height="95%" 
                        frameborder="0" 
                        scrolling="no" 
                        marginheight="0" 
                        marginwidth="0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDCw811CjAaII4gir05qQkaJIsNBfpW4v8&q=cassis" 
                        allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer>
  <script type="text/javascript">

  </script>
      <script src="static/js/main.js"></script>
</footer>
</html>
